body {
    background-color: sandybrown;
    font-family: sans-serif;
}

/* Exemplo de align-content: center */
.ex1 {
    background-color: indianred;
    color: #fff;
    display: grid;
    grid-template-columns: repeat(3, auto);
    height: 300px;
    align-content: center;
    gap: 10px;
    justify-content: center;
}

.ex1 div {
    background-color: slategray;
    width: 100px;
    height: 100px;
    text-align: center;
    align-content: center;
}

/* Exemplo de align-content: space-evenly */
.ex2 {
    background-color: indianred;
    color: #fff;
    display: grid;
    grid-template-columns: repeat(3, auto);
    height: 300px;
    align-content: space-evenly;
    gap: 10px;
    justify-content: center;
}

.ex2 div {
    background-color: slategray;
    width: 100px;
    height: 100px;
    text-align: center;
    align-content: center;
}

/* Exemplo de align-content: space-around */
.ex3 {
    background-color: indianred;
    color: #fff;
    display: grid;
    grid-template-columns: repeat(3, auto);
    height: 500px;
    align-content: space-around;
    gap: 0 10px;
    justify-content: center;
}

.ex3 div {
    background-color: slategray;
    width: 100px;
    height: 100px;
    text-align: center;
    align-content: center;
}

/* Exemplo de align-content: space-between */
.ex4 {
    background-color: indianred;
    color: #fff;
    display: grid;
    grid-template-columns: repeat(3, auto);
    height: 300px;
    align-content: space-between;
    gap: 0 10px;
    justify-content: center;
}

.ex4 div {
    background-color: slategray;
    width: 100px;
    height: 100px;
    text-align: center;
    align-content: center;
}

/* Exemplo de align-content: start */
.ex5 {
    background-color: indianred;
    color: #fff;
    display: grid;
    grid-template-columns: repeat(3, auto);
    height: 300px;
    align-content: start;
    gap: 10px;
    justify-content: center;
}

.ex5 div {
    background-color: slategray;
    width: 100px;
    height: 100px;
    text-align: center;
    align-content: center;
}

/* Exemplo de align-content: end */
.ex6 {
    background-color: indianred;
    color: #fff;
    display: grid;
    grid-template-columns: repeat(3, auto);
    height: 300px;
    align-content: end;
    gap: 10px;
    justify-content: center;
}

.ex6 div {
    background-color: slategray;
    width: 100px;
    height: 100px;
    text-align: center;
    align-content: center;
}