body {
    background-color: darkblue;
    color: #fff;
}

/* Exemplo de justify-content: space-evenly  */
.ex1 {
    background-color: aquamarine;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-evenly;
}

.ex1 div {
    width: 100px;
    height: 100px;
    text-align: center;
    align-content: center;
    background-color: darkcyan;
}

/* Exemplo de justify-content: space-around  */
.ex2 {
    background-color: aquamarine;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-around;
}

.ex2 div {
    width: 100px;
    height: 100px;
    text-align: center;
    align-content: center;
    background-color: darkcyan;
}

/* Exemplo de justify-content: space-between  */
.ex3 {
    background-color: aquamarine;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-between;
}

.ex3 div {
    width: 100px;
    height: 100px;
    text-align: center;
    align-content: center;
    background-color: darkcyan;
}

/* Exemplo de justify-content: space-between  */
.ex4 {
    background-color: aquamarine;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    gap: 15px;
}

.ex4 div {
    width: 100px;
    height: 100px;
    text-align: center;
    align-content: center;
    background-color: darkcyan;
}

/* Exemplo de justify-content: space-between  */
.ex5 {
    background-color: aquamarine;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: start;
    gap: 15px;
}

.ex5 div {
    width: 100px;
    height: 100px;
    text-align: center;
    align-content: center;
    background-color: darkcyan;
}

/* Exemplo de justify-content: space-between  */
.ex6 {
    background-color: aquamarine;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: end;
    gap: 15px;
}

.ex6 div {
    width: 100px;
    height: 100px;
    text-align: center;
    align-content: center;
    background-color: darkcyan;
}