body {
    background-color: darkkhaki;
    font-family: sans-serif;
    color: ghostwhite;
}

/* Exemplo de grid-column-start e grid-column-end */
.ex1 {
    background-color: firebrick;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 0 10px;
    justify-content: center;
    align-content: space-evenly;
}

.ex1 div {
    background-color: orangered;
    height: 100px;
    text-align: center;
    align-content: center;
}

.ex1 .itm1 {
    grid-column-start: 1;
    grid-column-end: 3;
}

/* Exemplo de grid-row-start e grid-row-end */
.ex2 {
    background-color: firebrick;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 0 10px;
    justify-content: center;
    align-content: space-evenly;
}

.ex2 div {
    background-color: orangered;
    text-align: center;
    align-content: center;
}

.ex2 .itm1 {
    grid-row-start: 1;
    grid-row-end: 3;
}

/* Exemplo de grid-row-start e grid-row-end, grid-column-start e grid-column-end */
.ex3 {
    background-color: firebrick;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 0 10px;
    justify-content: center;
    align-content: space-evenly;
}

.ex3 div {
    background-color: orangered;
    text-align: center;
    align-content: center;
}

.ex3 .itm1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}