body {
    background-color: dimgrey;
}

.ex1 {
    background-color: blueviolet;
    width: 400px;
    height: 300px;
}

.div1 {
    background-color: deeppink;
    width: 680px;
}

.ex2 {
    background-color: limegreen;
    max-width: 680px;
}