body {
    background-color: chocolate;
}

.ex1 {
    background-color: lightcoral;
    border: 3px solid black;
    width: 400px;
    margin: 30px auto;
    outline-style: solid;
    outline-width: 10px;
    outline-color: crimson;
    outline-offset: 10px;
}