body {
    background-color: darkslategray;
    color: #fff;
}

/* Exemplo de justify-content: center */
.ex1 {
    background-color: darkolivegreen;
    display: flex;
    gap: 30px;
    justify-content: center;
}

.ex1 div {
    background-color: darkkhaki;
    width: 100px;
    height: 100px;
    text-align: center;
}

/* Exemplo de justify-content: flex-start */
.ex2 {
    background-color: darkolivegreen;
    display: flex;
    gap: 30px;
    justify-content: flex-start;
}

.ex2 div {
    background-color: darkkhaki;
    width: 100px;
    height: 100px;
    text-align: center;
}

/* Exemplo de justify-content: flex-end */
.ex3 {
    background-color: darkolivegreen;
    display: flex;
    gap: 30px;
    justify-content: flex-end;
}

.ex3 div {
    background-color: darkkhaki;
    width: 100px;
    height: 100px;
    text-align: center;
}

/* Exemplo de justify-content: space-around */
.ex4 {
    background-color: darkolivegreen;
    display: flex;
    gap: 30px;
    justify-content: space-around;
}

.ex4 div {
    background-color: darkkhaki;
    width: 100px;
    height: 100px;
    text-align: center;
}

/* Exemplo de justify-content: space-between */
.ex5 {
    background-color: darkolivegreen;
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

.ex5 div {
    background-color: darkkhaki;
    width: 100px;
    height: 100px;
    text-align: center;
}

/* Exemplo de justify-content: space-evenly */
.ex6 {
    background-color: darkolivegreen;
    display: flex;
    justify-content: space-evenly;
}

.ex6 div {
    background-color: darkkhaki;
    width: 100px;
    height: 100px;
    text-align: center;
}