body {
    background-color: steelblue;
}

.ex1 {
    background-color: aquamarine;
    display: flex;
    gap: 30px;
    justify-content: center;
}

.ex1 div {
    background-color: cadetblue;
    width: 100px;
    height: 100px;
    align-content: center;
    text-align: center;
}

@media (max-width: 600px) {
    .ex1 {
        flex-direction: column;
        align-items: center;
    }
}