body {
    background-color: darksalmon;
}

/* Exemplo de grid-template-columns: repeat(3, auto) = auto auto auto */
.ex1 {
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: repeat(3, auto);
    /* grid-template-columns: auto auto auto; */
    gap: 5px;
    padding: 5px;
}

.ex1 div {
    background-color: khaki;
    height: 30px;
    border: 1px solid black;
    align-content: center;
    text-align: center;
    font-family: sans-serif;
}

/* Exemplo de grid-template-columns com valores misturados */
.ex2 {
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: 200px 80px auto;
    gap: 5px;
    padding: 5px;
}

.ex2 div {
    background-color: khaki;
    height: 30px;
    border: 1px solid black;
    align-content: center;
    text-align: center;
    font-family: sans-serif;
}

/* Exemplo de grid-template-columns: repeat(3, 1fr) = 1fr 1fr 1fr */
.ex3 {
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    /* grid-template-columns: repeat(3, 1fr); */
    gap: 5px;
    padding: 5px;
}

.ex3 div {
    background-color: khaki;
    height: 30px;
    border: 1px solid black;
    align-content: center;
    text-align: center;
    font-family: sans-serif;
}

/* Exemplo de grid-template-columns com minmax */
.ex4 {
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: minmax(80px, 1fr) 150px 150px;
    gap: 5px;
    padding: 5px;
}

.ex4 div {
    background-color: khaki;
    height: 30px;
    border: 1px solid black;
    align-content: center;
    text-align: center;
    font-family: sans-serif;
}

/* Exemplo de grid-template-rows com valores fixos */
.ex5 {
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 80px 200px;
    gap: 5px;
    padding: 5px;
}

.ex5 div {
    background-color: mediumpurple;
    border: 1px solid black;
    align-content: center;
    text-align: center;
    font-family: sans-serif;
}

/* Exemplo de grid column-gap */
.ex6 {
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 20px;
    padding: 5px;
}

.ex6 div {
    background-color: coral;
    border: 1px solid black;
    align-content: center;
    text-align: center;
    font-family: sans-serif;
    padding: 10px;
}

/* Exemplo de grid row-gap */
.ex7 {
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 40px;
    padding: 5px;
}

.ex7 div {
    background-color: coral;
    border: 1px solid black;
    align-content: center;
    text-align: center;
    font-family: sans-serif;
    padding: 10px;
}

/* Exemplo de grid gap */
.ex8 {
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    padding: 5px;
}

.ex8 div {
    background-color: coral;
    border: 1px solid black;
    align-content: center;
    text-align: center;
    font-family: sans-serif;
    padding: 10px;
}

/* Exemplo de grid gap com valores diferentes */
.ex9 {
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px 50px;
    padding: 5px;
}

.ex9 div {
    background-color: coral;
    border: 1px solid black;
    align-content: center;
    text-align: center;
    font-family: sans-serif;
    padding: 10px;
}