body {
    background-color: darkslateblue;
}

/* Exemplo de flex item - order */
.ex1 {
    background-color: orchid;
    display: flex;
    gap: 30px;
}

.ex1 div {
    background-color: bisque;
    width: 100px;
    height: 100px;
}

/* Exemplo de flex-grow */
.ex2 {
    background-color: orchid;
    display: flex;
    gap: 30px;
}

.ex2 div {
    background-color: bisque;
    width: 100px;
    height: 100px;
}

/* Exemplo de flex-shrink */
.ex3 {
    background-color: orchid;
    display: flex;
    gap: 30px;
}

.ex3 div {
    background-color: bisque;
    width: 150px;
    height: 100px;
}

/* Exemplo de flex-basis */
.ex4 {
    background-color: orchid;
    display: flex;
    gap: 30px;
}

.ex4 div {
    background-color: bisque;
    width: 100px;
    height: 100px;
}

/* Exemplo de align-self: center */
.ex5 {
    background-color: orchid;
    display: flex;
    gap: 30px;
    height: 200px;
}

.ex5 div {
    background-color: bisque;
    width: 100px;
}

.ex5 #it3 {
    background-color: aqua;
    height: 100px;
    align-self: center;
}

/* Exemplo de align-self: flex-start e flex-end */
.ex6 {
    background-color: orchid;
    display: flex;
    gap: 30px;
    height: 200px;
}

.ex6 div {
    background-color: bisque;
    width: 100px;
}

.ex6 #item2 {
    background-color: aqua;
    height: 100px;
    align-self: flex-start;
}

.ex6 #item3 {
    background-color: aqua;
    height: 100px;
    align-self: center;
}

.ex6 #item4 {
    background-color: aqua;
    height: 100px;
    align-self: flex-end;
}