body {
    background-color: rgb(165, 0, 0);
    justify-items: center;
}

h1 {
    background-color: rgb(255, 165, 0, 0.7);
    color: brown;
    border: 6px solid rgb(183, 106, 13);
    /* opacity: 0.5; */
}

h2 {
    background-color: rgb(34, 139, 34, 0.6);
    color: white;
    border: 4px solid rgb(173, 255, 47);
    /* opacity: 0.5; */
}

p {
    background-color: rgb(218, 112, 214, 0.4);
    color: black;
    border: 2px solid rgb(255, 192, 203);
    /* opacity: 0.5; */
}