body {
    background-color: burlywood;
}

.ex1 {
    border: 6px solid white;
}

.ex2 {
    border: 6px solid hsl(0, 0%, 100%);
    border-width: medium;
}

.ex3 {
    border: 6px dotted rgb(128, 128, 0);
}

.ex4 {
    border: dotted #008044;
    border-width: thick;
}

.ex5 {
    border: solid;
    border-width: 20px 10px; /* 20px top and bottom, 10px left and right */
    border-color: black white green red; /* top, right, bottom, left */
}

.ex6 {
    border-top-style: solid;
    border-right-style: dotted;
    border-bottom-style: double;
    border-left-style: none;
}

.ex7 {
    border: 6px solid #F8A;
    border-radius: 20px;
}