body {
    background-color: rebeccapurple;
}

div {
    display: flex;
}

.ex1 {
    background-color: aqua;
    width: 200px;
    margin: 40px 0px 0px 100px;
}

.ex2 {
    background-color: rgb(255,0 ,0);
    width: 200px;
}

.ex3 {
    background-color: white;
    width: 250px;
    margin: 100px auto;
}